body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #d1eef9;
    line-height: 1.6;
}

/* HEADER */
.top-area {
    display: flex;
    align-items: center;
    padding: 15px 20px;
}

.logo {
    width: 70px;
    margin-right: 15px;
}

.navbar {
    background: #01475F;
    text-align: center;
    padding: 12px 0;
}

.navbar a {
    color: white;
    margin: 0 15px;
    background: #FFB100;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover {
    background: #FFD966;
    color: black;
}

.hero {
    text-align: center;
    padding: 40px 20px;
}

.hero-img {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    border-radius: 20px;
}

.hero h1 {
    font-size: 32px;
    margin-top: 15px;
    font-weight: 900;
}

.pickup {
    font-size: 18px;
    font-weight: bold;
}

.book-btn {
    background: #FFB100;
    padding: 14px 30px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.section-title {
    text-align: center;
    background: #004F72;
    color: white;
    padding: 12px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    max-width: 900px;
    margin: 40px auto 0;
}

.day {
    background: #00364f;
}

.content-box {
    background: white;
    max-width: 900px;
    padding: 20px;
    margin: 0 auto 25px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.content-box ul {
    padding-left: 15px;
}

.content-box ul li {
    margin: 12px 0;
    font-size: 16px;
}

.footer {
    background: #01475F;
    padding: 15px;
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
