body {
    font-family: Arial, sans-serif;
    background: #1c2e33;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.page-container {
    background: #d5ebed;
    width: 380px;
    padding: 20px 0;
}


.top-header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: white;
}

.header-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.header-text h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    background-color: white;
}

.header-text p {
    margin: 3px 0 0 10px;
    font-size: 12px;
    color: #eaa22f
}


.white-box {
    background: #ffffff;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 6px;
}


.orange-title {
    background: #eaa22f;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 15px;
    line-height: 1.2;
    width:90%;
}


.section-title {
    color: #c07b00;
    font-size: 16px;
    margin-top: 20px;
}


label {
    font-size: 13px;
    margin-top: 12px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
}


.two-col {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.two-col div {
    width: 100%;
}


.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
}

.confirm {
    background: #eaa22f;
    color: white;
}

.reset {
    background: #e7e7e7;
}
