#header{
    background-color: #FFF3E0;
}
.header {
    background-color: #FFF3E0;
    border: 3px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;
}

.header-left {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header-text h2 {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 800;
    color: #213638;
}

.header-text p {
    margin-top: 4px;
    font-size: 22px;
    font-weight: 500;
    width: 400px;
    color: #E5A13E;
}

.header-buttons {
    display: flex;
    gap: 10px;
    margin-top: 100px;
}

.header-buttons button {
    padding: 6px 15px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.login-btn {
    background: #CFE7E5;
    color: #213638;

}

.signup-btn {
    background: #CFE7E5;
    color: #213638;
}


.header-menu {
    background-color: #CFE7E5;      
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px 0;               
    border-radius: 10px;           
}


.header-menu button {
    background-color: #E5A13E;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    color: black;
    cursor: pointer;

    margin: 5px 0;                 
}

.hero{
background:url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e') center/cover;
padding:100px 20px;
color:white;
text-align:left;
}
.hero h1{
    font-size:32px;
    max-width:500px;
}
.hero p{
    font-size:24px;
    max-width:280px;
}
.hero-btns button{
background-color: #E5A13E;
padding:12px 20px;
border:none;
border-radius:20px;
color:#213638;
font-weight:bold;
margin-right:10px;
cursor:pointer;
}
.section-title{
    text-align:center;
    margin-top:40px;
    font-size:28px;
    color:#E5A13E;
}
.packages{
    display:flex;
    justify-content: center;
    gap:20px;
    margin:20px;
    flex-wrap:wrap;
}
.card{
    width:250px;
    background:white;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.card img{
    width:100%;
    height:170px;
    border-radius:15px 15px 0 0;
    object-fit:cover;
}
.card h3{
    text-align:center;
    padding:10px;
    color:#213638;
}
.card p{
    text-align:center;
    margin:5px 0;
    color:#213638;
}
.card button{
    background:#E5A13E;
    border:none;padding:10px 18px;
    border-radius:20px;
    color:#213638;
    font-weight:bold;
    cursor:pointer;
    margin:10px auto;
    display:block;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

.coordinator-section {
    padding: 40px 5%;
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #E5A13E;
    margin-bottom: 30px;
}

.coordinator-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.img-box {
    flex: 1;
    min-width: 250px;
}

.img-box img {
    width: 100%;
    border-radius: 15px;
}

.content-box {
    flex: 2;
    min-width: 280px;
    line-height: 1.6;
    font-size: 16px;
}

.name {
    margin-top: 20px;
    font-size: 24px;
    color: #E5A13E;
    font-weight: 700;
}

.designation {
    font-size: 16px;
    color: gray;
}

.banner-section {
    background-image: url('Hut.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.banner-heading {
    font-size: 36px;
    font-weight: 800;
    margin: 10px 0 30px;
}

.icons-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.icon-box {
    background: rgba(0,0,0,0.5);
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

.contact-section {
    background: #ffffff;
    padding: 50px 5%;
    text-align: center;
    border-top: 3px solid #0f3b39;
}

.contact-title {
    color: #E5A13E;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}



.contact-box {
    max-width: 600px;
    margin: auto;
    font-size: 18px;
    color: #000;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin: 15px 0;
    justify-content: center;
}

.contact-item .icon {
    font-size: 24px;
}

.contact-note {
    margin-top: 25px;
    font-size: 16px;
    color:#213638;
}

.footer {
    margin-top: 40px;
    background:#213638;
    color: #E5A13E;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
}
